
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

html {
  font-size: 16px;
  background: url("../image/01.jpg") no-repeat center fixed;
  background-size: cover;
}
@media (max-width: 768px) {
  html {
    background: url("../image/02.jpg") no-repeat center fixed;
  }
}

body {
  font-family: 'Merienda', cursive;
  text-align:center;
}

form {
  display: block;
  text-align:center;
  grid-template-columns: 5rem 10rem;
  margin-bottom: 1rem;
}


section {
  margin-bottom: 3rem;
}

footer{
  position: fixed;
  right: 2rem;
  bottom: 0;
}
